*{
    margin: 0px ;
    padding: 0px;
}
#container{
    position: relative;
    top:520px;
    width:1300px;
}
.box{
    padding: 5px;
    float: left;
    -webkit-animation:fadein 0.5s linear;

}
.box_img{
    padding: 5px;
    border: 1px solid #cccccc;
    box-shadow:0 0 5px #ccc;
    border-radius: 5px;
        background-color: #fff;
}
.box_img img{
    width: 150px;
    height: auto;
}
@-webkit-keyframes fadein{
    from{-webkit-transform:scaleY(0);}
    to{-webkit-transform:scaleY(1);}
}

